:root{
    --main-size: 3em;
    --main-big-size: 3.1em;
    --time-anim: 100ms;
}

#main-title{
    color: aliceblue;
    font-size: 4em;
    background-color: #6b7478;
}

.flex-box-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 10px;
    list-style: none;
    font-weight: bold;
}

.flex-item{
    background: tomato;
    padding: 20px;
    width: auto;
    height: auto;
    margin-top: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: var(--main-size);
    text-align: center;
    text-transform: capitalize;
    animation-name: slight-shrink;
    animation-duration: var(--time-anim);
    animation-fill-mode: forwards;
}

.flex-item:hover{
    font-size: var(--main-big-size);
    animation-name: slight-grow;
    animation-duration: var(--time-anim);
    animation-fill-mode: forwards;
}

@keyframes slight-grow{
    from{font-size: var(--main-size);}
    to{font-size: var(--main-big-size);}
}

@keyframes slight-shrink{
    from{font-size: var(--main-big-size);}
    to{font-size: var(--main-size;)}
}


/*

.bigbuttons{
    display: flex;
    flex-wrap: wrap;
    text-justify: auto;
    vertical-align: middle;
    text-align: center;
    padding: 2% 8%;
    margin: auto;
    background-color: #cfd9ce;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    z-index: 5;
    font-size: 3pc;
    animation-name: slight-unshade;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.bigbuttons:hover{
    animation-name: slight-shade;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}    
    
@keyframes slight-shade{
    from{transform: scale(1); background-color: #cfd9ce;}
    to{transform: scale(1.05); background-color: rgb(250, 250, 250);}
    }

@keyframes slight-unshade{
    from{transform: scale(1.05); background-color: rgb(250, 250, 250);}
    to{transform: scale(1); background-color: #cfd9ce;}
}

*/