.footer-grid{
    padding: 90px;
    display: grid;
    z-index: 7;
    width: 100%;
    height: auto;
    background-color: #414141;   
}

.grid-item{
    padding: 4px;
    text-align: center;
    display: grid;
}