body{
    
}

#middle-bar{
    padding: 30px; 
    top: 100px;
    background-color: #cfd9ce;
    width: 100%; 
    height: auto;
    margin: auto;
    text-align: justify;
    min-height: 1000px;
}


.generic-text{
    text-align: justify;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}

#centered-image{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-grid{
    height: 400px;
    background-color: #414141;
    padding: 30px;
}

.grid-item{
    padding: 15px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 770px){
    .generic-text{
        padding: 20px;
    }
    
}