:root{
    --main-size: 3em;
    --main-big-size: 3.1em;
    --time-anim: 100ms;
}

#main-title{
    color: aliceblue;
    font-size: 4em;
    background-color: #6b7478;
}

.flex-box-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 10px;
    list-style: none;
    font-weight: bold;
}

.flex-item{
    background: tomato;
    padding: 20px;
    width: auto;
    height: auto;
    margin-top: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: var(--main-size);
    text-align: center;
    text-transform: capitalize;
    animation-name: slight-shrink;
    animation-duration: var(--time-anim);
    animation-fill-mode: forwards;
}

.flex-item:hover{
    font-size: var(--main-big-size);
    animation-name: slight-grow;
    animation-duration: var(--time-anim);
    animation-fill-mode: forwards;
}

@keyframes slight-grow{
    from{font-size: var(--main-size);}
    to{font-size: var(--main-big-size);}
}

@keyframes slight-shrink{
    from{font-size: var(--main-big-size);}
    to{font-size: var(--main-size;)}
}
