html{
}

#middle-bar{
    padding: 30px; 
    top: 100px;
    background-image: linear-gradient( -45deg, #adc2ac, #ffffff);
    width: 100%; 
    height: auto;
    margin: auto;
    text-align: justify;
    min-height: 800px;
    /*#75b06f a and a6c2a3 or #7e997d*/
}


.generic-text{
    text-align: justify;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}
.generic-text-middle{
    text-align: justify;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}
.generic-text-small{
    text-align: justify;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}
.generic-text-ssmall{
    text-align: justify;
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}
#centered-image{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-grid{
    height: 400px;
    background-color: #414141;
    padding: 30px;
}

.grid-item{
    padding: 15px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 770px){
    .generic-text{
        padding: 20px;
    }
    
}