
#top-bar{
    margin: auto;
    height: 110px;
    padding: 10px;
    width: 100%;
    display: block;
    background-color: #252c2f;
}

#centered-image-main-title-dropdown{
    position: relative;
    top: -10px;
    align-content: center;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}



